<div class="layout-container" [class.mobile-layout]="isMobile" [class.onboarding-layout]="isOnboarding">
  <app-sidebar *ngIf="!isMobile && !isOnboarding"></app-sidebar>
  <div class="content-wrapper" [class.onboarding-wrapper]="isOnboarding">
    <app-topbar *ngIf="!isOnboarding"></app-topbar>
    <div class="main-content" [class.mobile-content]="isMobile" [class.onboarding-content]="isOnboarding">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-mobile-nav *ngIf="isMobile && !isOnboarding"></app-mobile-nav>
</div>
